  <nav class="navbar navbar-light bg-lignt" id="topmenu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="paginaPic">
  <div class="card card1" >
        <div class="card-body">
               <!-- <p> {{user.username}}</p> -->

       <p>Usuario: {{theuser.username}}</p> 
       <p>Photo Rating:</p> 
       <p>Location:</p>
       <p>Categorias:</p>
       <p>Description:</p>

        </div>     

   </div>
<div class="containerPic">
  <div class="container_thePicture" >
  <img  class="pic" id="{{ picture._id }}"  src="{{ picture.path }}" alt="{{ picture.originalName }}" />
  </div>
</div>
 <div class="card card2" >
        <div class="card-body" >
         Comentarios:
         
        </div>     
 </div>
